.lpm-margin{
    margin-bottom: 30px;
}
.lpm-container{
    display: flex;
    justify-content: center;
    cursor: pointer;
}
.lpm-card{
    display: flex;  
    background: #FFFCE5;
    border: black 1px solid;
    border-radius: 8px;
}
.lpm-card img{
    width: 290px;
    height: 121px;
    clip-path: polygon(0 0, 100% 0%, 85% 100%, 0% 100%);
    object-fit: cover;
    border-radius: 7px 0px 0px 7px;
}
.lpm-name{
    color: #737373;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
    font-size: 23px;
    margin-top: 40px;
}
.lpm-bank{
    color: black;
    font-weight: 600;
    font-size: 16px;
    margin-top: 5px;
}
.lpm-status{
    height: 20px;
    background: #DC2F24;
    /* background: #5FE05C; */
    color: #FFFFFF;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 15px;
    padding: 3px 10px 3px 10px;
    margin-left: 60px;
    margin-top: 50px;
}
.lpm-icon{
    margin-left: 30px;
    margin-top: 45px;
    margin-right: 20px;
}
.lpm-icon button{
    border-radius: 50%;
    padding: 10px 10px;
    cursor: pointer;
    background: #5FE05C;
    /* background: #EE6363; */
    /* background: #FFE34D; */
    /* background: #DC2F24; */
}

.lpm-dropdown{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}
.lpm-dropdown .lpm-dropdown-card{
    width: 950px;
    background: #E3D794;
}
.lpm-dropdown-display{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.lpm-dropdown-small-card{
    border-radius: 6px;
    width: 400px;
    background: #FFFFFF ;
}
.lpm-dropdown-title{
    text-align: center;
    font-weight: 700;
    font-size: 20px;
    padding: 10px 0px 0px 0px;
}
.lpm-dropdown-bank{
    display: grid;
    grid-template-columns: 35% 65%;
}
.lpm-dropdown-bank strong{
    padding: 3px;
    margin-left: 20px;
  }
.lpm-dropdown-bank span{
  font-weight: 600;
  padding: 3px;
}
.lpm-dropdown-bank-fullName{
    display: grid;
    grid-template-columns: 35% 65%;
    padding-bottom: 20px;
}
.lpm-dropdown-bank-fullName strong{
    padding: 3px;
    margin-left: 20px;
  }
.lpm-dropdown-bank-fullName span{
  color: #000000;
  font-weight: 600;
  padding: 3px;
}
.lpm-dropdown-detail-button{
    display: flex;
    justify-content: center;
    margin: 15px;
}
.lpm-dropdown-detail-button button{
    border: none;
    border-radius: 20px;
    background: #EE6363;
    font-weight: 600;
    padding: 12px 80px;
}
.lpm-dropdown-confirm-button{
    display: flex;
    justify-content: center;
    margin: 15px;
}
.lpm-dropdown-confirm-button button{
    border: none;
    border-radius: 20px;
    background: #5FE05C;
    font-weight: 600;
    padding: 12px 20px;
}