.login {
  display: flex;
  justify-content: center;
  font-size: 20px;
  background-image: linear-gradient(#fee66a, #ffffff);
}
.login .login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 1400px;
}

.login .login-container .login-card {
  display: flex;
  width: 1000px;
  height: 700px;
  margin: 50px 50px 50px 100px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.login .login-container .login-card .left {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: #ffe24d;
  padding: 50px;
  flex: 1;
  border-radius: 8px 0px 0px 8px;
}
.login .login-container .login-card .left .center-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.login .login-container .login-card .left .center-item h3 {
  text-transform: uppercase;
  margin-top: 0;
}
.login .login-container .login-card .left .center-item p {
  margin-top: 0;
  font-size: 18px;
  text-align: center;
}
.login .login-container .login-card .left .col-item {
  display: flex;
  gap: 5px;
  flex-direction: column;
  justify-content: center;
}
.login .login-container .login-card .left .col-item span {
  font-weight: 500;
  font-size: 16px;
  margin-bottom: 5px;
}
.login .login-container .login-card .left .col-item input {
  padding: 20px 20px;
  border-radius: 15px;
  font-size: 18px;
  border: none;
  outline: none;
}
.login .login-container .login-card .left .row-item {
  display: flex;
  justify-content: center;
}
.login .login-container .login-card .left .row-item i {
  font-size: 14px;
}
.login .login-container .login-card .left .row-item span {
  margin-left: 170px;
  font-size: 15px;
  font-weight: 500;
}

.login .login-container .login-card .left .button {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.login .login-container .login-card .left .button button {
  font-size: 15px;
  font-weight: 600;
  padding: 15px 30px;
  border-radius: 50px;
  border: none;
  cursor: pointer;
  width: 200px;
  height: 50px;
  background: white;
  color: black;
  transition: box-shadow 0.2s;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin-bottom: 50px;
}

.login .login-container .login-card .left .button button:active {
  box-shadow: none;
}

.login .login-container .login-card .left .button .disabled {
  cursor: default;
}

.login .login-container .login-card .left .google {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
}
.login .login-container .login-card .left .google button {
  border: none;
  background: none;
  cursor: pointer;
}
.login .login-container .login-card .left .google-logo-img {
  width: 30px;
  object-fit: cover;
  border-radius: 15px;
}

.login .login-container .login-card .left .row-item strong {
  cursor: pointer;
}

.login .login-container .login-card .right {
  background: #fdf8c8;
  padding: 10px 50px 50px;
  flex: 1;
  border-radius: 0px 8px 8px 0px;
}

.login .login-container .login-card .right .center-item h1 {
  text-align: center;
}
.login .login-container .login-card .right .col-item {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.errmsg {
  color: red;
  font-size: 15px;
}

.loading-login {
  display: flex;
  justify-content: center;
}
.loading-login .loading-login-container {
  display: flex;

  justify-content: center;
  align-items: center;
}

.loading-login .loading-login-container .loader-login {
  border: 7px solid #f3f3f3; /* Light grey */
  border-top: 7px solid #ffd600; /* Blue */
  border-radius: 50%;
  width: 10px;
  height: 10px;
  animation: spin 0.55s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
