.posts-background {
  background-image: linear-gradient(#fee66a, #ffffff);
}
.posts {
  display: flex;
  justify-content: center;
  padding: 50px 0;
}

.posts-container {
  width: 1400px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  min-height: 100vh;
}

.posts .posts-container .filter {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.posts .posts-container .filter .filter-row {
  display: flex;
  gap: 30px;
  align-items: center;
}

.posts .posts-container .filter .filter-row .searchbox input {
  border-radius: 8px;
  font-size: 18px;
  padding: 5px 20px;
  width: 300px;
  background: transparent;
}
.posts .posts-container .filter .filter-row .min-max {
  display: flex;
  gap: 10px;
  font-size: 18px;
  align-items: center;
}
.posts .posts-container .filter .filter-row .min-max span {
  color: #333333;
  font-weight: 600;
  font-size: 18px;
}

.posts .posts-container .filter .filter-row .min-max input {
  border-radius: 8px;
  font-size: 18px;
  padding: 5px 20px;
  background: transparent;
  width: 100px;
}

.posts .posts-container .filter .filter-row .long {
  display: flex;
  gap: 10px;
  font-size: 18px;
  align-items: center;
}
.posts .posts-container .filter .filter-row .long span {
  color: #333333;
  font-weight: 600;
  font-size: 18px;
}
.posts .posts-container .filter .filter-row .long input {
  border-radius: 8px;
  font-size: 18px;
  padding: 5px 20px;
  background: transparent;
  width: 100px;
}

.posts .posts-container .filter .filter-row .region {
  display: flex;
  gap: 10px;
  font-size: 18px;
  align-items: center;
}
.posts .posts-container .filter .filter-row .region span {
  color: #333333;
  font-weight: 600;
  font-size: 18px;
}
.posts .posts-container .filter .filter-row .region select {
  border-radius: 8px;
  font-size: 18px;
  padding: 5px 10px;
  background: transparent;
}
.posts .posts-container .filter .filter-row .gender {
  display: flex;
  gap: 10px;
  font-size: 18px;
  align-items: center;
}
.posts .posts-container .filter .filter-row .gender span {
  color: #333333;
  font-weight: 600;
  font-size: 18px;
}
.posts .posts-container .filter .filter-row .gender select {
  border-radius: 8px;
  font-size: 18px;
  padding: 5px 10px;
  background: transparent;
}

.posts .posts-container .filter .filter-row .nature {
  display: flex;
  gap: 10px;
  font-size: 18px;
  align-items: center;
}
.posts .posts-container .filter .filter-row .nature span {
  color: #333333;
  font-weight: 600;
  font-size: 18px;
}
.posts .posts-container .filter .filter-row .nature select {
  border-radius: 8px;
  font-size: 18px;
  padding: 5px 10px;
  background: transparent;
}

.posts .posts-container .filter .filter-row .location {
  display: flex;
  gap: 10px;
  font-size: 18px;
  align-items: center;
}
.posts .posts-container .filter .filter-row .location span {
  color: #333333;
  font-weight: 600;
  font-size: 18px;
}
.posts .posts-container .filter .filter-row .location select {
  border-radius: 8px;
  font-size: 18px;
  padding: 5px 10px;
  background: transparent;
}

.posts .posts-container .filter .filter-row button {
  border: none;
  padding: 10px 20px;
  font-size: 14px;
  background: #ffd600;
  border-radius: 20px;
  cursor: pointer;
  width: 200px;
  font-weight: 600;
}

.posts .posts-container .cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
