.listVoice-card {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  background: #fffce5;
  width: max-content;
  padding: 20px 40px;
  height: 120px;
}
.listVoice-card .listVoice-avatar img {
  width: 90px;
  height: 90px;
  object-fit: cover;
  border-radius: 50%;
}
.listVoice-card .listVoice-info {
  margin: 5px 20px;
}
.listVoice-card .listVoice-info .listVoice-personal {
  text-align: center;
  color: #737373;
  font-weight: 600;
}
.listVoice-card .listVoice-sound {
  background: transparent;
}
.listVoice-card .listVoice-sound audio {
  width: 700px;
}
.listVoice-card .listVoice-sound audio::-webkit-media-controls-panel {
  background: #fffce5;
}

.listVoice-card .listVoice-time {
  text-align: center;
}
.listVoice-card .listVoice-icon {
  background: #fdf8c8;
  border-radius: 50%;
  padding: 10px 10px;
}
