.postcard {
  display: flex;
  gap: 20px;
  border: 1px solid black;
  height: 120px;
  border-radius: 10px;
  background: #fdf8c8;
}

.postcard .thumbnail img {
  height: 100%;
  width: 250px;
  object-fit: cover;
  border-radius: 10px 0 0 10px;
  clip-path: polygon(0 0, 100% 0%, 80% 100%, 0% 100%);
}

.postcard .content {
  display: flex;
  align-items: center;
  gap: 20px;
  width: 1200px;
}
.postcard .content .title {
  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight: bold;
  flex: 3;
}

.postcard .content .info {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 15px;
  flex: 2;
}
.postcard .content .info span {
  display: flex;
  align-items: center;
  gap: 5px;
}

.postcard .content .info span img {
  width: 16px;
  height: 16px;
  object-fit: cover;
}
.postcard .content .require {
  display: flex;
  align-items: center;
  gap: 10px;
  flex: 4;
  flex-wrap: wrap;
}

.postcard .content .require span {
  border: 1px solid black;
  padding: 5px 10px;
}

.postcard .content .button {
  display: flex;
  align-items: center;
  flex: 2;
}

.postcard .content .button button {
  border: none;
  background: #f1c40f;
  font-size: 16px;
  padding: 10px 20px;
  cursor: pointer;
  color: white;
  border-radius: 20px;
}
