.pdfmc-display{
    display: flex;
    justify-content: center ;
}
.pdfmc-card {
    display: grid;
    grid-template-columns: 10% 80% 10%;
    border: 1px solid black;
    width: 1400px;
    padding: 20px;
    border-radius: 8px;
    background: #fdf8c8;
  }
  
  .pdfmc-avatar {
    display: flex;
    flex: 1;
    align-items: center;
  }
  
  .pdfmc-avatar img {
    width: 110px;
    height: 110px;
    object-fit: cover;
    border-radius: 50%;
  }
 .pdfmc-main {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
  }
  
 .pdfmc-fullName {
    font-size: 18px;
    font-weight: 600;
  }
  
  .pdfmc-gender {
    font-size: 18px;
    font-weight: 600;
  }
  .pdfmc-createDate{
    font-size: 14px;
    color: #737373;
  }
  .pdfmc-audio audio{
    width: 1050px;
  }
  .pdfmc-demo{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .pdfmc-demo button{
   background-image: linear-gradient(#43D100, #A0CBAC);
    color: #ffffff;
    border: none;
    outline: none;
    border-radius: 8px;
    padding: 5px 20px;
    cursor: pointer;
  }
  .pdfmc-edit{
    display: flex;
    justify-content:center;
  }
  .pdfmc-content{
    background: #E7E7E7;
    border-radius: 4px;
    width: 1350px;
    padding: 10px;
    margin-bottom: 20px;
  }
   .pdfmc-requestEdit{
    color: #E15252 ;
    font-weight: 600;
  }
 .pdfmc-contentEdit{
    font-weight: 600;
  }


  