.navbar {
  display: flex;
  justify-content: center;
  background: #ffd600;
  position: sticky;
  top: 0;
  z-index: 1000;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.navbar .navbar-container {
  width: 1400px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar .navbar-container span {
  font-weight: bold;
  font-size: 18px;
  cursor: pointer;
  transition: color 0.3s;
}
.navbar .navbar-container span:hover {
  color: #c0392b;
}
.navbar .navbar-container .logo img {
  width: 100px;
  height: 75px;
  object-fit: cover;
}
