.tpfbc {
  display: flex;
  gap: 20px;
  border: 1px solid black;
  height: 120px;
  width: 1200px;
  border-radius: 10px;
  background: #fdf8c8;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border: none;
}
.tpfbc-thumbnail {
  width: 400px;
}
.tpfbc-thumbnail img {
  height: 100%;
  width: 250px;
  object-fit: cover;
  border-radius: 10px 0 0 10px;
  clip-path: polygon(0 0, 100% 0%, 80% 100%, 0% 100%);
}

.tpfbc-content {
  display: flex;
  align-items: center;
  gap: 20px;
  width: 1200px;
}
.tpfbc-title {
  display: flex;
  align-items: center;
  font-size: 20px;
  font-weight: 600;
  flex: 3;
}

.tpfbc-info {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 15px;
  flex: 2;
}
.tpfbc-info span {
  display: flex;
  align-items: center;
  gap: 5px;
}
.tpfbc-text-date {
  font-family: sans-serif;
  font-weight: 600;
  font-size: 17px;
}
.tpfbc-text-price {
  font-family: sans-serif;
  font-weight: 600;
  font-size: 17px;
}

.tpfbc-info span img {
  width: 16px;
  height: 16px;
  object-fit: cover;
}
.tpfbc-status {
  display: flex;
  align-items: center;
  gap: 10px;
  flex: 2;
  flex-wrap: wrap;
}

.tpfbc-button {
  display: flex;
  align-items: center;
  flex: 3;
}
.tpfbc-text-waitApprove {
  border-radius: 8px;
  padding: 5px 10px;
  color: black;
  border: none;
}
.tpfbc-text-notApproved {
  background: #ecf0f1;

  border-radius: 8px;
  padding: 5px 10px;
  color: black;
  border: none;
}
.tpfbc-text-denied {
  background: #ecf0f1;
  border-radius: 8px;
  padding: 5px 10px;
  color: black;
  border: none;
}
.tpfbc-text-apply {
  background: #f1c40f;
  border-radius: 8px;
  padding: 5px 10px;
  color: black;
  border: none;
}
.tpfbc-text-waitToAccept {
  background: #ecf0f1;
  border-radius: 8px;
  padding: 5px 10px;
  color: black;
  border: none;
}
.tpfbc-text-processing {
  background: #f1c40f;
  border-radius: 8px;
  padding: 5px 10px;
  color: black;
  border: none;
}
.tpfbc-text-done {
  background: #27ae60;
  border-radius: 8px;
  padding: 5px 10px;
  color: white;
  border: none;
}
.tpfbc-text-notPayingYet {
  border-radius: 8px;
  padding: 5px 10px;
  color: white;
  background: #e74c3c;
  border: none;
}
.tpfbc-text-paid {
  background: #5cc874;
  border-radius: 8px;
  padding: 5px 10px;
  color: white;
}
.tpfbc-text-result {
  background: #43d100;
  border-radius: 8px;
  padding: 5px 10px;
  color: white;
}
.tpfbc-button {
  display: flex;
  justify-content: center;
}
.tpfbc-button .follow {
  border: none;
  background: #f1c40f;
  font-size: 16px;
  font-family: sans-serif;
  font-weight: 600;
  padding: 10px 50px;
  cursor: pointer;
  border-radius: 30px;
  color: black;
  border: none;
  transition: opacity 0.3s;
}
.tpfbc-button .view {
  border: none;
  background: #27ae60;
  font-size: 16px;
  font-family: sans-serif;
  font-weight: 600;
  padding: 10px 50px;
  cursor: pointer;
  border-radius: 30px;
  color: white;
  border: none;
  transition: opacity 0.3s;
}

.tpfbc-button .payment {
  border: none;
  background: #e74c3c;
  font-size: 16px;
  font-family: sans-serif;
  font-weight: 600;
  padding: 10px 50px;
  cursor: pointer;
  border-radius: 30px;
  color: white;
  border: none;
  transition: opacity 0.3s;
}
.tpfbc-button button:hover {
  opacity: 0.5;
}
