.listvoice {
  display: flex;
  justify-content: center;
}
.listvoice .listvoice-container {
  padding: 50px 0;
  width: 1400px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.listvoice .listvoice-container .listvoice-help {
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
}
.listvoice .listvoice-container .listvoice-help .listvoice-search {
  display: flex;
}
.listvoice .listvoice-container .listvoice-help .listvoice-search input {
  padding: 10px 20px;
  font-size: 15px;
  width: 250px;
  outline: none;
}
.listvoice .listvoice-container .listvoice-help .listvoice-search button {
  border: none;
  font-size: 15px;
  padding: 11px 20px;
  background: #ffd600;
  cursor: pointer;
  transition: opacity 0.4s;
}
.listvoice .listvoice-container .listvoice-help .listvoice-search button:hover {
  opacity: 0.6;
}

.listvoice .listvoice-container .listvoice-help .listvoice-sort {
  display: flex;
  gap: 10px;
  align-items: center;
}

.listvoice .listvoice-container .listvoice-help .listvoice-sort select {
  font-size: 18px;
  border: none;
  font-weight: 600;
}

.listvoice .listvoice-container .cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
