.pdta-title{
    text-align: center;
}
.pdta-container{
    display: flex;
    justify-content: center;
}
.pdta-card{
    background: #FFFCE5;
    width: 1000px;
    margin-top: 30px;
    margin-bottom: 100px;
}
.pdta-info{
    display: grid;
    grid-template-columns: 30% 70%;
}
.pdta-info-left div{
    color: #494949;
    font-weight: 600;
    font-size: 18px;
    margin-left: 70px;
}
.pdta-info-right{
    width: 650px;
    font-weight: 600;
    margin-bottom: 20px;
}
.pdta-text-description{
    overflow: hidden;
}
.pdta-text-description span{
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 8;
    font-weight: 600;
}
.pdta-detail{
    margin-top: 180px;
}
.pdta-text-detail{
    overflow: hidden;
    margin-top: 30px;
}
.pdta-text-detail span{
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    font-style: italic;
    font-family: sans-serif;
    font-weight: 400;
}
.pdta-gender{
    margin-top: 40px;
}
.pdta-text-gender{
    margin-top: 10px;
}
.pdta-region{
    margin-top: 20px;
}
.pdta-text-region{
    margin-top: 25px;
}
.pdta-tone{
    margin-top: 20px;
}
.pdta-text-tone{
    margin-top: 22px;
}
.pdta-expressive{
    margin-top: 20px;
}
.pdta-text-expressive{
    margin-top: 22px;
}
.pdta-speed{
    margin-top: 20px;
}
.pdta-text-speed{
    margin-top: 22px;
}
.pdta-pronounce{
    margin-top: 20px;
}
.pdta-text-pronounce{
    margin-top: 22px;
}
.pdta-stress{
    margin-top: 20px;
}
.pdta-text-stress{
    margin-top: 22px;
}
.pdta-voice{
    margin-top: 20px;
}
.pdta-text-voice{
    margin-top: 20px;
}
.pdta-nature{
    margin-top: 20px;
}
.pdta-text-nature{
    margin-top: 24px;
}
.pdta-duration{
    margin-top: 20px;
}
.pdta-text-duration{
    margin-top: 24px;
}
.pdta-edit{
    margin-top: 20px;
}
.pdta-text-edit{
    margin-top: 22px;
}
.pdta-deadline{
    margin-top: 20px;
}
.pdta-text-deadline{
    margin-top: 22px;
}
.pdta-price{
    margin-top: 20px;
}
.pdta-text-price{
    margin-top: 23px;
}
.pdta-button{
    text-align: center;
    margin-bottom: 30px;
}
.pdta-button .pdta-deny{
    background-color: #F5851D;
    border: none;
    outline: none;
    border-radius: 20px;
    font-weight: 600;
    padding: 12px 50px;
    margin-right: 100px;
    cursor: pointer;
}
.pdta-button .pdta-accept{
    background-color: #FFD600;
    border: none;
    outline: none;
    border-radius: 20px;
    font-weight: 600;
    padding: 12px 50px;
    cursor: pointer;

}