.pdfs-titleProject{
    text-align: center;
    text-transform: uppercase;
    font-size: 25px;
}
.pdfs-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.pdfs-card{
    background: #FDF8C8;
    width: 1400px;
    border-radius: 8px;
}
.pdfs-display{
    display: grid;
    grid-template-columns: 20% 80%;
}
.pdfs-card-left{
    font-weight: 600;
    font-size: 18px;
    margin-left: 50px;
}
.pdfs-description{
    margin-top: 30px;
}
.pdfs-text-description{
    overflow: hidden;
    margin-top: 30px;
    width: 1000px;
}
.pdfs-text-description span{
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 8;
    font-weight: 600;
}
.pdfs-detail{
    margin-top: 180px;
}
.pdfs-text-detail{
    overflow: hidden;
    margin-top: 35px;
    width: 1000px;
}
.pdfs-text-detail span{
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    font-style: italic;
    font-family: sans-serif;
    font-weight: 400;
}
.pdfs-demo{
    margin-top: 55px;
}
.pdfs-text-demo{
    margin-top: 20px;
}
.pdfs-text-demo button{
    color: #ffffff;
    border: none;
    border-radius: 6px;
    outline: none;
    background: #43D100;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 3px 20px;
    margin-left: 5px;
    cursor: pointer;
}
.pdfs-main{
    margin-top: 15px;
}
.pdfs-text-main{
    margin-top: 15px;
}
.pdfs-text-main button{
    color: #ffffff;
    border: none;
    border-radius: 6px;
    outline: none;
    background: #43D100;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 3px 20px;
    margin-left: 5px;
    cursor: pointer;
}
.pdfs-edit{
    margin-top: 20px;
}
.pdfs-text-edit{
    margin-top: 22px;
    font-weight: 600;
}
.pdfs-displayGrid{
    display: grid;
    grid-template-columns: auto auto;
    width: 1050px;
}
.pdfs-price{
    margin-top: 30px;
}
.pdfs-text-price{
    font-weight: 600;
    margin-top: 35px;
    display: grid;
    grid-row-start: 1;
    grid-row-end: 3;
}
.pdfs-text-main label{
    color: #ffffff;
    border: none;
    border-radius: 6px;
    outline: none;
    background: #43D100;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 3px 20px;
    margin-left: 5px;
    cursor: pointer;
}
.pdfs-duration{
    margin-top: 25px;
}
.pdfs-text-duration{
    font-weight: 600;
    margin-top: 26px;
    display: grid;
    grid-template-columns: 70% 30%;
    margin-bottom: 20px;
}
.pdfs-button {
    grid-row-start: 1;
    grid-row-end: 4;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.pdfs-button button{
    background: #FFD600;
    border: none;
    border-radius: 30px;
    font-size: 20px;
    font-family: sans-serif;
    padding: 15px 50px;
    cursor: pointer;
}
.pdfs-title{
    text-transform: uppercase;
    text-align: center;
}
.pdfs-listVoice{
    margin-bottom: 50px;
}