.pdfs-titleProject{
    text-align: center;
    text-transform: uppercase;
    font-size: 25px;
}
.pdfs-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.pdfs-card{
    background: #FDF8C8;
    width: 1400px;
    border-radius: 8px;
}
.pdfs-info{
    display: grid;
    grid-template-columns: 25% 75%;
}
.pdfs-description{
    font-weight: 600;
    font-size: 18px;
    margin-left: 80px;
    margin-top: 30px;
}
.pdfs-text-description{
    margin-top: 30px;
    width: 1050px;
    font-style: italic;
    font-family: sans-serif;
}
.pdfs-detail{
    font-weight: 600;
    font-size: 18px;
    margin-left: 80px;
    margin-top: 20px;
}
.pdfs-text-detail{
    margin-top: 20px;
    width: 1050px;
    font-style: italic;
    font-family: sans-serif;
    font-weight: 400;
}
.pdfs-demo{
    font-weight: 600;
    font-size: 18px;
    margin-left: 80px;
    margin-top: 20px;
}
.pdfs-text-demo{
    width: 1050px;
    margin-top: 20px;
}
.pdfs-text-demo button{
    color: #ffffff;
    border: none;
    border-radius: 6px;
    outline: none;
    background: #43D100;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 3px 20px;
    margin-left: 5px;
    cursor: pointer;
}
.pdfs-main{
    font-weight: 600;
    font-size: 18px;
    margin-left: 80px;
    margin-top: 20px;
}
.pdfs-text-main{
    width: 1050px;
    margin-top: 20px;
}
.pdfs-text-main button{
    color: #ffffff;
    border: none;
    border-radius: 6px;
    outline: none;
    background: #43D100;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 3px 20px;
    margin-left: 5px;
    cursor: pointer;
}
.pdfs-edit{
    font-weight: 600;
    font-size: 18px;
    margin-left: 80px;
    margin-top: 20px;
}
.pdfs-text-edit{
    width: 1050px;
    margin-top: 22px;
    font-weight: 600;
}
.pdfs-displayGrid{
    display: grid;
    grid-template-columns: 80% 20%;
    width: 1350px;
}
.pdfs-price{
    font-weight: 600;
    font-size: 18px;
    margin-left: 80px;
    margin-top: 20px;
}
.pdfs-text-price{
    font-weight: 600;
    margin-left: 80px;
    margin-top: 20px;
    display: grid;
}
.pdfs-text-main label{
    color: #ffffff;
    border: none;
    border-radius: 6px;
    outline: none;
    background: #43D100;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 3px 20px;
    margin-left: 5px;
    cursor: pointer;
}
.pdfs-duration{
    font-weight: 600;
    font-size: 18px;
    margin-left: 80px;
    margin-top: 20px;
}
.pdfs-text-duration{
    font-weight: 600;
    margin-left: 80px;
    margin-top: 20px;
    display: grid;
    grid-template-columns: 70% 30%;
    margin-bottom: 20px;
}
.pdfs-record{
    margin-top: 20px;
}
.pdfs-button button{
    background: #FFD600;
    border: none;
    border-radius: 8px;
    font-size: 18px;
    font-family: sans-serif;
    padding: 15px 50px;
    cursor: pointer;
}
.pdfs-title{
    text-transform: uppercase;
    text-align: center;
}
.pdfs-listVoice{
    margin-bottom: 50px;
}