.projectDetailForManager{
    background-image: linear-gradient(#AA9006, #ffffff);
}
.projectDetailForManager-titleProject{
    text-align: center;
    text-transform: uppercase;
    font-size: 25px;
    margin: 0;
    padding: 20px;
}
.projectDetailForManager-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.projectDetailForManager-card{
    background: #FDF8C8;
    width: 1400px;
    border-radius: 8px;
}
.projectDetailForManager-info{
    display: grid;
    grid-template-columns: 25% 75%;
}
.projectDetailForManager-description{
    font-weight: 600;
    font-size: 18px;
    margin-left: 80px;
    margin-top: 30px;
}
.projectDetailForManager-text-description{
    margin-top: 30px;
    width: 1050px;
    font-style: italic;
    font-family: sans-serif;
}
.projectDetailForManager-detail{
    font-weight: 600;
    font-size: 18px;
    margin-left: 80px;
    margin-top: 20px;
}
.projectDetailForManager-text-detail{
    margin-top: 20px;
    width: 1050px;
    font-style: italic;
    font-family: sans-serif;
    font-weight: 400;
}
.projectDetailForManager-demo{
    font-weight: 600;
    font-size: 18px;
    margin-left: 80px;
    margin-top: 20px;
}
.projectDetailForManager-text-demo{
    width: 1050px;
    margin-top: 20px;
}
.projectDetailForManager-text-demo button{
    color: #ffffff;
    border: none;
    border-radius: 6px;
    outline: none;
   background-image: linear-gradient(#43D100, #A0CBAC);
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 3px 20px;
    margin-left: 5px;
    cursor: pointer;
}
.projectDetailForManager-main{
    font-weight: 600;
    font-size: 18px;
    margin-left: 80px;
    margin-top: 20px;
}
.projectDetailForManager-text-main{
    width: 1050px;
    margin-top: 20px;
}
.projectDetailForManager-text-main button{
    color: #ffffff;
    border: none;
    border-radius: 6px;
    outline: none;
   background-image: linear-gradient(#43D100, #A0CBAC);
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 3px 20px;
    margin-left: 5px;
    cursor: pointer;
}

.projectDetailForManager-edit{
    font-weight: 600;
    font-size: 18px;
    margin-left: 80px;
    margin-top: 20px;
}
.projectDetailForManager-text-edit{
    width: 1050px;
    margin-top: 22px;
    font-weight: 600;
}
.projectDetailForManager-price{
    font-weight: 600;
    font-size: 18px;
    margin-left: 80px;
    margin-top: 20px;
}
.projectDetailForManager-text-price{
    font-weight: 600;
    margin-top: 20px;
}
.projectDetailForManager-duration{
    font-weight: 600;
    font-size: 18px;
    margin-left: 80px;
    margin-top: 20px;
}
.projectDetailForManager-text-duration{
    font-weight: 600;
    margin-top: 20px;
    margin-bottom: 20px;
}
.projectDetailForManager-record{
    margin-top: 20px;
}
.projectDetailForManager-title{
    text-transform: uppercase;
    text-align: center;
}
.projectDetailForManager-listVoice{
    margin-bottom: 50px;
}