.ppc-container {
  display: flex;
  justify-content: center;
}
.ppc-card {
  width: 1000px;
  display: flex;
  background: #fffce5;
  border-radius: 8px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

  cursor: pointer;
}
.ppc-card img {
  width: 290px;
  height: 121px;
  clip-path: polygon(0 0, 100% 0%, 85% 100%, 0% 100%);
  object-fit: cover;
  border-radius: 7px 0px 0px 7px;
}
.ppc-name {
  color: #737373;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 700;
  font-size: 23px;
  margin-top: 40px;
  flex: 3;
}
.ppc-bank {
  color: black;
  font-weight: 600;
  font-size: 16px;
  margin-top: 5px;
}
.ppc-status {
  display: flex;
  align-items: center;
  flex: 1;
}
.ppc-status span {
  background: #dc2f24;
  color: white;
  padding: 5px 10px;
  border-radius: 10px;
}
.ppc-icon {
  display: flex;
  align-items: center;
  flex: 2;
}
.ppc-icon button {
  border-radius: 50%;
  padding: 10px 10px;
  background: #5fe05c;
  /* background: #EE6363; */
  /* background: #FFE34D; */
  /* background: #DC2F24; */
}

.ppc-dropdown {
  display: flex;
  justify-content: center;
}
.ppc-dropdown .ppc-dropdown-card {
  width: 1000px;
  background: #e3d794;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 10px 0;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.ppc-dropdown-display {
  display: flex;
  justify-content: center;
  gap: 20px;
}
.ppc-dropdown-small-card {
  border-radius: 6px;
  width: 400px;
  background: #ffffff;
}
.ppc-dropdown-title {
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  padding: 10px 0px 0px 0px;
}
.ppc-dropdown-bank {
  display: grid;
  grid-template-columns: 35% 65%;
}
.ppc-dropdown-bank strong {
  padding: 3px;
  margin-left: 20px;
}
.ppc-dropdown-bank span {
  font-weight: 600;
  padding: 3px;
}
.ppc-dropdown-bank-fullName {
  display: grid;
  grid-template-columns: 35% 65%;
  padding-bottom: 20px;
}
.ppc-dropdown-bank-fullName strong {
  padding: 3px;
  margin-left: 20px;
}
.ppc-dropdown-bank-fullName span {
  color: #000000;
  font-weight: 600;
  padding: 3px;
}
.ppc-dropdown .ppc-dropdown-card .button-wrapper {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.ppc-dropdown
  .ppc-dropdown-card
  .button-wrapper
  .ppc-dropdown-detail-button
  button {
  border: none;
  border-radius: 30px;
  padding: 10px 20px;
  font-size: 15px;
  cursor: pointer;
  background: #ffd600;
}

.ppc-dropdown
  .ppc-dropdown-card
  .button-wrapper
  .ppc-dropdown-confirm-button
  button {
  border: none;
  border-radius: 30px;
  padding: 10px 20px;
  font-size: 15px;
  cursor: pointer;
  background: #27ae60;
  color: white;
}

.loading-dropdown {
  display: flex;
  justify-content: center;
}
.loading-dropdown .loading-dropdown-container {
  display: flex;

  justify-content: center;
  align-items: center;
}

.loading-dropdown .loading-dropdown-container .loader-dropdown {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #ffd600; /* Blue */
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 0.55s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
