.paad-title {
  text-align: center;
  text-transform: uppercase;
  font-size: 25px;
}
.paad-container {
  display: flex;
  justify-content: center;
}
.paad-card {
  background: #fdf8c8;
  width: 1000px;
  margin-bottom: 30px;
}
.paad-displayGrid {
  display: grid;
  grid-template-columns: 25% 75%;
}

.paad-description {
  font-weight: 600;
  font-size: 18px;
  margin-left: 60px;
  margin-top: 35px;
}
.paad-text-description {
  overflow: hidden;
  margin-top: 30px;
}
.paad-text-description span {
  font-weight: 600;
}
.paad-detail {
  font-weight: 600;
  font-size: 18px;
  margin-left: 60px;
  margin-top: 35px;
}
.paad-text-detail {
  overflow: hidden;
  margin-top: 35px;
}
.paad-text-detail span {
  font-style: italic;
  font-family: sans-serif;
  font-weight: 400;
}
.paad-demo {
  font-weight: 600;
  font-size: 18px;
  margin-left: 60px;
  margin-top: 20px;
}
.paad-text-demo {
  margin-top: 20px;
}
.paad-text-demo button {
  color: #ffffff;
  border: none;
  border-radius: 6px;
  outline: none;
  background: #43d100;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 3px 20px;
  margin-left: 5px;
  cursor: pointer;
}
.paad-main {
  font-weight: 600;
  font-size: 18px;
  margin-left: 60px;
  margin-top: 30px;
}
.paad-text-main {
  margin-top: 30px;
}
.paad-text-main button {
  color: #ffffff;
  border: none;
  border-radius: 6px;
  outline: none;
  background: #43d100;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 3px 20px;
  margin-left: 5px;
  cursor: pointer;
}
.paad-duration {
  font-weight: 600;
  font-size: 18px;
  margin-left: 60px;
  margin-top: 20px;
}
.paad-text-duration {
  font-weight: 600;
  margin-top: 25px;
}
.paad-button {
  text-align: center;
  margin: 50px 0px 30px 0px;
}
.paad-button button {
  background: #5fe05c;
  border: none;
  outline: none;
  border-radius: 15px;
  font-weight: 600;
  padding: 8px 50px;
  cursor: pointer;
}
